@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px 20px;
}

span {
    background: -webkit-linear-gradient(-45deg, #439ad4, #033557);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@layer base {
    .desc {
        @apply text-gray-800 text-base;
    }
    .btn-primary {
        @apply bg-primary duration-500 md:px-8 px-6  py-3  text-gray-100 text-base font-medium md:w-auto w-full text-center inline-flex justify-center items-center rounded-lg;
    }
    .btn-secondary {
        @apply bg-secondary duration-500 md:px-8 px-6  py-3  text-gray-100 text-base font-medium md:w-auto w-full text-center inline-flex justify-center items-center rounded-lg;
    }
    .heading {
        @apply md:text-5xl text-3xl font-semibold text-gray-900;
    }
    .sub-head {
        @apply md:text-3xl text-xl font-semibold text-gray-900;
    }
}

@layer components {
    .bedge {
        @apply absolute -top-[5px] -left-[5px] w-9 h-9 border  p-1 rounded-b-md font-semibold bg-brown-50 text-gray-800 text-center text-lg ring ring-white;
    }
    .input-feild {
        @apply border-2 border-gray-500 rounded w-full py-2.5 px-3  focus:outline-none  focus:border-gray-700 placeholder:text-gray-700;
    }
}

::-webkit-scrollbar {
    width: 10px;
    display: none;
}

::-webkit-scrollbar-track {
    background: #eae7e7;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(167, 183, 183);
    border-radius: 6px;
}
