@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 10px 20px;
}

span {
    background: -webkit-linear-gradient(-45deg, #439ad4, #033557);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@layer base {
    .desc {
        @apply text-gray-900 text-base;
    }
    .btn-primary {
        @apply bg-primary duration-500 px-6  py-2  text-gray-100 text-base font-medium;
    }
    .btn-secondary {
        @apply bg-secondary duration-500 px-6  py-2  text-gray-100 text-base font-medium;
    }
    .heading {
        @apply md:text-5xl text-3xl text-center pb-1  font-medium text-dark;
    }
}
